.bg-light {
    background-color: #F7b58c !important;
  }

body {
    font-family: 'Share Tech Mono', monospace;
}
  /* this for css grid of photos  */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 1rem;
  }
/*this to resize images for diff devices*/
  .text-center img {
    width: 80%;
    height: auto;
  }
  /* this for the lil zoom on hover */
  .zoom {
    transition: transform .3s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
